<!-- Header -->
<section id="header">
  <header>
    <span class="image avatar"><img src="images/avatar.jpg" alt="" /></span>
    <h1 id="logo"><a href="#">{{ site.author }}</a></h1>
    <p>I enjoy making reliable, efficient systems<br /></p>
  </header>
  <nav id="nav">
    <ul>
      <li><a href="#about" class="active">About Me</a></li>
      <li><a href="#skills">Interests and Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#four">Contact</a></li>
    </ul>
  </nav>
  <footer>
    <ul class="icons">
      {% for icon in site.data.icon_links %}
      <li><a href="{{ icon.url }}" class="icon {{ icon.icon }}" target="_blank">
          <span class="label">{{ icon.title }}</span>
        </a></li>
        {% endfor %}
    </ul>
  </footer>
</section>
